header {
    padding: 5px;
    background-image: linear-gradient(90deg, rgba(0, 140, 255, 1) 0%, rgba(9, 9, 121, 1) 41%, rgba(2, 0, 36, 1) 100%);
}

header p {
    margin-top: 12px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
}