header {
    padding: 5px;
    background-image: linear-gradient(90deg, rgba(0, 140, 255, 1) 0%, rgba(9, 9, 121, 1) 41%, rgba(2, 0, 36, 1) 100%);
}

header p {
    margin-top: 12px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.search-container {
    width: 300px;
    margin: 20px;
    border-bottom: 1px solid black;
    display: inline-block;
}

h1 {
    font-size: 30px;
    margin: 20px 0px 10px 0px;
    font-weight: bold;
}

#search-text {
    width: 100%;
    border-radius: 5px;
    border-width: 0.5px;
    height: 40px;
}

#search-btn {
    width: 100%;
    margin: 20px 0px 20px 0px;
    background-color: rgb(134, 168, 253);
    border-radius: 5px;
    border-style: none;
    color: white;
    height: 35px;
}

.prev-searches {
    width: 300px;
    margin: 20px;
    display: inline;
}

#prev-city {
    width: 300px;
    margin: 20px 0px 20px 0px;
    background-color: rgb(193, 193, 193);
    border-radius: 5px;
    color: white;
    height: 35px;
    text-align: center;
}

.main-results {
    display: inline-block;
    border: solid 1px black;
    width: 1050px;
    margin-left: 350px;
}

.main-results p {
    margin: 15px;
}

.future-forecast {
    width: 1050px;
    margin-left: 350px;
    display: flex;
}

.day-card {
    border: 1px solid black;
    width: 150px;
    justify-content: space-around;
    padding: 10px;
}

#green-UV {
    background-color: green;
    padding: 5px;
    border-radius: 5px;
}

#yellow-UV {
    background-color: yellow;
    padding: 5px;
    border-radius: 5px;
}

#red-UV {
    background-color: red;
    padding: 5px;
    border-radius: 5px;
}