header {
    padding: 5px;
    background-image: linear-gradient(90deg, rgba(0, 140, 255, 1) 0%, rgba(9, 9, 121, 1) 41%, rgba(2, 0, 36, 1) 100%);
}

header p {
    margin-top: 12px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.side-bar {
    width: 300px;
    margin: 0px;
    display: inline-block;
}

.search-container {
    width: 300px;
    margin: 20px 20px 0px 20px;
    border-bottom: 1px solid black;
}

h1 {
    font-size: 30px;
    margin: 20px 0px 10px 0px;
    font-weight: bold;
}

#search-text {
    width: 100%;
    border-radius: 5px;
    border-width: 0.5px;
    height: 40px;
}

#search-btn {
    width: 100%;
    margin: 20px 0px 20px 0px;
    background-color: rgb(134, 168, 253);
    border-radius: 5px;
    border-style: none;
    color: white;
    height: 35px;
}

.prev-city-btn {
    width: 100%;
    margin: 10px 0px 0px 20px;
    background-color: rgb(193, 193, 193);
    border-style: none;
    border-radius: 5px;
    color: white;
    height: 35px;
    text-align: center;
}

.current-results {
    float: right;
    margin-top: 70px;
    margin-right: 50px;
    width: 1000px;
}

.main-results {
    border: solid 1px black;
    width: 1000px;
    float: right;
}

#search-city-name {
    margin-left: 10px;
    padding: 10px;
}

#current-day {
    font-size: 20px;
    text-decoration: underline;
}

img {
    width: 50px;
}

.main-results p {
    margin: 15px;
}

#green-UV {
    background-color: green;
    padding: 5px;
    border-radius: 5px;
}

#yellow-UV {
    background-color: yellow;
    padding: 5px;
    border-radius: 5px;
}

#red-UV {
    background-color: red;
    padding: 5px;
    border-radius: 5px;
}

#future-forecast {
    width: 1000px;
    float: right;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.day-card {
    border: 1px solid black;
    width: 180px;
    justify-content: space-around;
    padding: 10px;
    color: white;
    background-color: rgb(24, 24, 74)
}

h3 {
    font-size: 25px;
    text-decoration: underline;
    margin-bottom: 15px;
}